.web_message-list-container {
  padding: 10px;
  /* padding-bottom: 70px; */
}
.web_managelist-conversation-search-input {
 
  padding: 14px 10px;
  border: none;
  font-size: 14px;
  width: 100%;
}
.web_msg-sent-box {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}
.web_sent-icon {
  font-size: 1.5rem;
  position: absolute;
  right: 5px;
}
