.message {
  display: flex;
  flex-direction: column;
}

.message .timestamp {
  display: flex;
  justify-content: center;
  color: #999;
  font-weight: 600;
  font-size: 12px;
  margin: 10px 0px;
  text-transform: uppercase;
}

.message .web_bubble-container {
  font-size: 14px;
  display: flex;
}

.message.mine .web_bubble-container {
  justify-content: flex-end;
}

.message.start .web_bubble-container .web_bubble {
  /* margin-top: 10px; */
  border-top-left-radius: 20px;
}

.message.end .web_bubble-container .web_bubble {
  border-bottom-left-radius: 20px;
  /* margin-bottom: 10px; */
}

.message.mine.start .web_bubble-container .web_bubble {
  margin-top: 10px;
  border-top-right-radius: 20px;
}

.message.mine.end .web_bubble-container .web_bubble {
  border-bottom-right-radius: 20px;
  margin-bottom: 10px;
}

.message .web_bubble-container .web_bubble {
  margin: 1px 0px;
  /* background: #f4f4f8; */
  padding: 10px 15px;
  border-radius: 20px;
  max-width: 75%;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.message.mine .web_bubble-container .web_bubble {
  /* background: #eb5b00; */
  color: white;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.web_conversation-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.img-align-left {
  float: left;
}

.img-align-right {
  float: right;
} 
