
      /* appointment tittle */
      .titleuser{
      font-size: 18px;
       color: #86b149;
       font-weight: 549;
       display: flex;
       margin-top: 10px;
       margin-left: 17px;
      }
      .doctorpatient_head{
      
        position: relative;
        font-size: 1.5rem;
        color: #333;
        font-weight: 600;
        margin-right: 10px;;
        margin-bottom: 0px !important;
        top:3px;
      }
      
      .doctor_patienttype .formdiv {
        width:35%;
      }
      .doctor_patienttype{
        display:flex;
        align-items: center;
        width:47%;
      }
      .hms_trainer_header .formdiv .selectbox .ant-select-selection--single {
        padding:0px !important;
        height:35px !important;
        display:flex;
        align-items: center;
    
    
      }
        .cancelled_container {
          align-items: center;
          justify-content: space-between;
      }
      .plus-icon{
       cursor: pointer;   
      }
      /* div for head */
      .hms_trainer_header{
        width:100%;
        background-color: #F8F8F8;
            padding: 10px 20px;
            box-shadow: 0px 3px 6px #00000029;
        border-radius: 5px 5px 0px 0px;
            height:69px;
        /* font-weight: 600; */
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
     
      
      .clinic_details:focus{
        background-color:#0B51C5 !important;
        }
      .clinic_details
      {
        color:white !important;
        font-size: 1.5rem !important;
        border:none;
        padding:8px; 
      }
      
      
      .clinic_date_details
      {
        display: flex;
        align-items: center;
        justify-content: center;
        
      }
      .currentdate{
          font-size: 1.25rem;
          font-weight: 600;
          color:#545454 !important;
      }
      .doctor_type_head{
        display:flex;
        justify-content: center;
        align-items: center;
      }
      .right_arrowicon{
        font-size: 2.5rem !important;
        cursor: pointer;
        position: relative;
        top: -2px;
      }
      /* day buttons */
      .group_buttons_div{
        display:flex;
        justify-content: space-between;
        align-items: center;
    
      }
      
    
    /* appointment head */
      .trainer_appointment .MuiButtonGroup-root {
        /* box-shadow: 0 0 0 1px rgba(0,0,0,0.04), 0 4px 8px 0 rgba(0,0,0,0.20) !important; */
        box-shadow: 0px 2px 5px #00000033;
        border-radius: 2px 0px 0px 2px !important;
        height: 40px !important;
      }
      /* align for day buttons */
      .clinic_group_details .MuiButton-root {
        text-transform:none !important;
        border-radius: 0px !important;
        font-size: 1.5rem !important;
        padding:5px 15px !important;
        border: none !important;
        box-shadow: 0px 2px 5px #00000033 !important;
      } 
      .trainer_trainer_appointment .MuiButtonGroup-root{
        box-shadow: 0 0 0 1px rgba(0,0,0,0.04), 0 4px 8px 0 rgba(0,0,0,0.20) !important;
      }
      .clinic_details_first{
        color:white !important;
        font-size: 14px !important;
        background-color:#0b51c5 !important ;
        border:none;
        padding:8px;
        width:120px !important;  
        height:42px !important;    
      }
      .clinic_details
      {
        color:white !important;
        font-size: 14px !important;
        background-color:#468DF0!important;
        border:none;
        padding:8px;
        width:120px !important;  
        height:42px !important;        
      }
      /* .search_box_container .ant-input{
        border: 1px solid #D8D8D8 !important;
        color:#333333 !important;
        font-size: 16px !important;
        font-weight: 100 !important;
        height: 37px !important;
      } */
      .seach_near_icon{
        margin-left: 10px;
      }