.web_message-list-container {
  padding: 10px;
  /* padding-bottom: 70px; */
  background-color: #f1f1f1;
}
.web_managelist-conversation-search-input {

  padding: 14px 10px;
  border: none;
  font-size: 14px;
  width: 100%;
}
.web_msg-sent-box {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: white;
}
.web_sent-icon {
  font-size: 1.5rem;
  position: absolute;
  right: 5px;
}
.web_msg-sent-box path{
  fill: #82ae3f;
}  
  /* .camera_align{
  padding-right: 10px;
  } */

