.profileback_first{
    background: transparent linear-gradient(90deg, #A5CF64 0%, #CDE6A5 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    width:100%;
    height:50%;
    color:#FFFF;
    font-size: 18px;
    /* font-weight: 600; */
    padding:25px 0px 0px 20px;
}
.profile_background{
    height:650px; 
}